# Virtual environment (Crucial!)
.venv/
venv/
env/
ENV/

# Flask instance folder (Contains local SQLite database file)
instance/

# Python cache files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
